@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary: #000;
  --color-contrast: #fff;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}

#app{
  height: 100%;
}